/* VegButton.css */

.veg-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    max-width: 70px;
    margin: 0 5px;
  }
  
  .veg-button:hover {
    background-color: #34b03a;
  }
  